{% extends 'common/masterpage.html' %}
{% load static %}<!--for pic in static folder-->
{% block content %}
<tabel cellspacing="1" cellpadding="1" height="500px" width="1474" border="0" bgcolor="98fb98">
    <tr align="center">
        <td><h1>School Forms</h1></td>
       

    </tr>
    <tr align="center">
        <td>Student's name (Capital letters)</td>&nbsp;&nbsp;
        <td><input type="text" size="20"></td><br /><br />
    </tr>
    <tr align="center">
        <td>Father's name (Capital letters)</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td><input type="text" size="20"></td><br /><br />
        
        
    </tr>
    <tr align="center">
        <td>Mother's name (Capital letters)</td>&nbsp;&nbsp;
        <td><input type="text" size="20"></td><br /><br />
    </tr>
    <tr align="center">
        <td>Permanent Address</td>&nbsp;&nbsp;
        <td><textarea rows="1" cols="45"></textarea></td><br /><br />
    </tr>
    <tr align="center">
        <td>Present Address</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <td><textarea rows="1" cols="45"></textarea></td><br /><br />
    </tr>
    <tr align="center">
        <td>date of birth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>&nbsp;&nbsp;
        <td><input type="text" placeholder="00/00/0000"></td><br /><br />
    </tr>
    <tr align="center">
        <td>Nationality&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       </td>&nbsp;&nbsp;
        <td><input type="text" size="20"></td><br /><br />
    </tr>
    <tr align="center">
        <td>Class&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                </td>&nbsp;&nbsp;
        <td><input type="number"></td><br /><br />
    </tr>
    <tr align="center">
        <td>Mobile number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        </td>&nbsp;&nbsp;
        <td><input type="number"></td><br /><br />
    </tr>
    

</tabel>

{% endblock %}