<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table  align="center"  border="0" cellspacing="15" cellpadding="15"  bgcolor="cde6e6">
        <tr>
            <td><h1>Student Login</h1></td>
        </tr>
        <tr>
            <td><label>Username</label></td>
            <td><input type="text" placeholder="Enter your full name" size="15"></td>

        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" placeholder="Enter your password" size="15"></td>
        </tr>
        
        
    </table>
</body>
</html>